html, body {
    color:rgb(69, 23, 10);
    text-align: center;
    background: blanchedalmond;
    font-family:'Times New Roman', Times, serif;
}

div {
    align-items: center;
    margin-left: 520px;
    margin-right: 520px;
    padding: 25px;
    border: 3px maroon;
    border-style: dotted;
}

h1 {
    color: burlywood;
    padding: 10px;
    background: rgb(69, 23, 10);
}

h2.category {
    color: floralwhite;
    background:burlywood ;
}

h4.level {
    color: maroon;
    margin-bottom: 5px;
}

p.content {
    margin: 2px;
}